<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="../static/img/Logo.png" type="image/png">
    <title>{% block title %}宾得镜头指南{% endblock%}</title>

    <!-- 字体设置-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- 风格设置-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
    {% block headScript %}{% endblock %}
</head>

<body id="page-top">

    <!-- 页面外围边框 -->
    <div id="wrapper">

        <!-- 侧边栏 -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- 侧边栏 - 宾得Logo和名称 -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="home">
                <div class="sidebar-brand-icon">
                    <img src="../static/img/Logo.png" alt="Logo" style="max-width: 80%; height: auto;">
                </div>                
                <div class="sidebar-brand-text mx-3">Asahi Pentax</div>
            </a>

            <!-- 一条分割线 -->
            <hr class="sidebar-divider my-0">

            {% block active %}
            {% endblock %}

            <!-- 侧边栏切换按钮 -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- 侧边栏结束 -->

        <!-- 内容包裹器 -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- 主要内容：顶部栏 + 页面内容 + 页脚 -->
            <div id="content">

                <!-- 顶部栏 -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- 顶部栏 - 侧边栏切换按钮 -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- 顶部栏 - 搜索框 -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="搜索..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- 顶部栏 - 用户信息 -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">徐浩然 ZY2407806</span>
                                <img class="img-profile rounded-circle"
                                    src="../static/img/user_profile.jpg">
                            </a>
                        </li>
                    </ul>

                </nav>
                <!-- 顶部栏结束 -->

                <!-- 在这里写主要代码， 在这里写主要代码， 在这里写主要代码， 在这里写主要代码， -->
                <!-- 在这里写主要代码， 在这里写主要代码， 在这里写主要代码， 在这里写主要代码， -->
                <!-- 在这里写主要代码， 在这里写主要代码， 在这里写主要代码， 在这里写主要代码， -->
                <!-- 页面内容开始 -->
                {% block content %}{% endblock %}
                <!-- 容器结束 -->
                <!-- 在这里写主要代码， 在这里写主要代码， 在这里写主要代码， 在这里写主要代码， -->
                <!-- 在这里写主要代码， 在这里写主要代码， 在这里写主要代码， 在这里写主要代码， -->
                <!-- 在这里写主要代码， 在这里写主要代码， 在这里写主要代码， 在这里写主要代码， -->

            </div>
            <!-- 主要内容结束 -->

            <!-- 页脚 -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 徐浩然 北京航空航天大学 制造业知识工程及应用 2024</span>
                    </div>
                </div>
            </footer>
            <!-- 页脚结束 -->

        </div>
        <!-- 内容包裹器结束 -->

    </div>
    <!-- 页面外框结束 -->

    <!-- 返回顶部按钮 -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap 核心 JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- 核心插件 JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- 所有页面的自定义脚本 -->
    <script src="../static/js/sb-admin-2.min.js"></script>

    <!-- 页面级插件 -->
    <script src="../static/vendor/chart.js/Chart.min.js"></script>

    <!-- 页面级自定义脚本 -->
    <script src="../static/js/demo/chart-area-demo.js"></script>
    <script src="../static/js/demo/chart-pie-demo.js"></script>
    
    {% block script %}{% endblock %}
</body>

</html>