{% extends "base.html" %}

{% block title %}每日推荐{% endblock %}

{% block active %}
<!-- 默认页 - 数据库概览 -->
<li class="nav-item">
    <a class="nav-link" href="home">
        <!--i class="fas fa-fw fa-tachometer-alt"></i-->
        <i class="fas fa-chart-area"></i>
        <span>数据库概览</span></a>
</li>

<!-- 一条分割线 -->
<hr class="sidebar-divider">

<!-- 标题 -->
<div class="sidebar-heading">
    系统功能
</div>

<!-- 每日推荐模块 -->
<li class="nav-item active">
    <a class="nav-link" href="recommend">
        <i class="fas fa-random"></i>
        <span>每日推荐</span>
    </a>
</li>

<!-- 镜头查询模块 -->
<li class="nav-item">
    <a class="nav-link" href="search">
        <i class="fas fa-search"></i>
        <span>镜头查询</span>
    </a>
</li>

<!-- 一条分割线 -->
<hr class="sidebar-divider">

<!-- 其他 -->
<div class="sidebar-heading">
    其他
</div>

<!-- 给开发留一个页面 -->
<li class="nav-item">
    <a class="nav-link" href="debug">
        <i class="fas fa-tools debug-icon"></i>
        <span>页面开发</span>
    </a>
</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- 页面标题 -->
    <h1 class="h3 mb-4 text-gray-800">每日推荐</h1>
    <div style="display: flex; align-items: center;">
        <p id="describe" style="margin: 0px; margin-left: 15px">点击按钮获取每日镜头随机推荐！</p>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="fetchRecommendation()">
            <i class="fas fa-sync fa-sm text-white-50"></i> 刷新
        </a>
    </div>

    <br>

    <!-- 推荐框 -->
    <div class="col-md-8 mx-auto float-left">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 id="lens-name" class="m-0 font-weight-bold text-primary">镜头</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img id="lens-image" class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem;"
                        src="../static/img/undraw_posting_photo.svg" alt="...">

                    <!--div class="utility-container" style="flex: 1;">
                        <div class="col-auto">
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">锐度</div>
                        </div>
                        <div class="col" style="flex: auto; ">
                            <div class="progress progress-sm mr-2">
                                <div class="progress-bar bg-info" role="progressbar"
                                    style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div-->
                </div>

                <p id="lens-description">镜头描述</p>
                <a id="more-info-link" target="_blank" rel="nofollow" href="https://www.pentaxforums.com/">查看更多 &rarr;</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/1.9.1/jquery.min.js" defer></script>
<script type="text/javascript" defer>
    function fetchRecommendation() {
        $.ajax({
            url: '/recommend_data',
            type: 'post',
            contentType: 'application/json',
            success: function (res) {
                console.log(res);
                // 更新页面上的元素
                $('#lens-name').text(res.name);
                $('#lens-description').text(res.description);
                // 更新图片链接
                $('#lens-image').attr('src', res.image_link);  // 更新图片的 src 属性
                // 更新"查看更多"链接
                $('#more-info-link').attr('href', res.lens_link);  // 更新链接的 href 属性
            }
        });
    }
</script>
{% endblock %}